* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
}


.video{
  min-height: 100vh;
  background: url("../src/stars.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.video-card{
    max-width: 700px;
    background: rgba(20, 20, 20, 0.9);
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
}

.title{
    padding: 20px;
    text-align: center;
}

.video-section {
    flex: 0 0 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.clientVideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.text-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    font-size: 1rem;
}