* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
}

.terms-section {
  min-height: 100vh;
  background: url("../src/stars.jpg");
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main{
    width: 100%;
    max-width: 1080px;
    background: rgba(20, 20, 20, 0.9);
    border-radius: 12px;
}

.image{
    height: 30vh;
    background-image: url("../src/bluesky.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
}

.top{
    flex: 0 0 auto;
    text-align: center;
    padding-top: 0.7rem;
    font-size: 0.8rem;
    opacity: 0.7;
}

.center{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.setup{
    font-size: 0.6rem;
    opacity: 0.7;
    padding-bottom: 0.2rem;
}

.title{
    /* padding: 0 1rem; */
    font-size: clamp(1.75rem, 4vw, 4rem);
}

.terms{
    padding: 32px;
}

.terms p{
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
}

.terms h3{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

@media (min-width: 833px) {
    .image{
        height: 50vh;
    }
}